<%= javascript_include_tag 'inner' %>

<h2>Edit Contact</h2>

<%= form_for(@contact, url: {action: "update"}) do |f| %>

  <p>
    <%= f.label :first_name %>&nbsp;&nbsp;
    <%= f.text_field :first_name %>
  </p>
 
  <p>
    <%= f.label :last_name %>&nbsp;&nbsp;
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= label_tag 'Phone numbers' %>&nbsp;&nbsp;
    <%= button_tag(type: 'button', onclick: 'add_phone_number_item()') do
      content_tag(:strong, '+')
    end %>
    <ul id='phone_number_group' >
      <% @contact.phone_numbers.each_with_index do |pn, index| %>
        <% indexstr = (index + 1).to_s %>
        <% pni = 'phone_number_' + indexstr %>
        <% pnki = 'phone_number_kind_' + indexstr %>
        <li>
          <%= text_field_tag pni, pn.content %>
          <%= select_tag pnki, options_for_select([['Mobile',1],['Home',2],['Work',3]], pn.kind_id) %>
        </li>
      <% end %>
    </ul>
  </p>

  <p>
    <%= label_tag 'Email addresses' %>&nbsp;&nbsp;
    <%= button_tag(type: 'button', onclick: 'add_email_address_item()') do
      content_tag(:strong, '+')
    end %>
    <ul id='email_address_group' >
      <% @contact.email_addresses.each_with_index do |ea, index| %>
        <% indexstr = (index + 1).to_s %>
        <% eai = 'email_address_' + indexstr %>
        <li>
          <%= text_field_tag eai, ea.content, size: 50 %>
        </li>
      <% end %>
    </ul>
  </p>

  <p>
    <%= label_tag 'Street addresses' %>&nbsp;&nbsp;
    <%= button_tag(type: 'button', onclick: 'add_street_address_item()') do
      content_tag(:strong, '+')
    end %>
    <ul id='street_address_group' >
      <% @contact.street_addresses.each_with_index do |sa, index| %>
        <% indexstr = (index + 1).to_s %>
        <% sai = 'street_address_' + indexstr %>
        <li>
          <%= text_field_tag sai, sa.content, size: 50 %>          
        </li>
      <% end %>
    </ul>
  </p>

  <p>
    <%= f.submit %>
  </p>

  <p>
    <%= link_to "Back to Contacts List", contacts_path %>
  </p>

<% end %>
