<h2>Edit Contact</h2>

<%= form_for :contact, url: contacts_path do |f| %>

  <input name="_method" type="hidden" value="patch" />

  <p>
    <%= f.label :first_name %>&nbsp;&nbsp;
    <%= f.text_field :first_name %>
  </p>
 
  <p>
    <%= f.label :last_name %>&nbsp;&nbsp;
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= label :post, :phone_number_1 %>&nbsp;&nbsp;
    <%= text_field :post, :phone_number_1 %>
    <%= select_tag :phone_number_kind_1, options_for_select([['Mobile',0],['Home',1],['Work',2]]) %>
    <%= button_tag(type: 'button', onclick: 'add_phone_number') do
      content_tag(:strong, '+')
    end %>  </p>

  <p>
    <%= label :post, :email_address_1 %>&nbsp;&nbsp;
    <%= text_field :post, :email_address_1 %>
    <%= button_tag(type: 'button', onclick: 'add_email_address') do
      content_tag(:strong, '+')
    end %>
  </p>

  <p>
    <%= label :post, :street_address_1 %>&nbsp;&nbsp;
    <%= text_field :post, :street_address_1, width: '400px' %>
    <%= button_tag(type: 'button', onclick: 'add_street_address') do
      content_tag(:strong, '+')
    end %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
