%h1 New Contact
= form_for :contact do |f|
  %p
    = f.label :first_name
    \  
    \#{f.text_field :first_name}
  %p
    = f.label :last_name
    \  
    \#{f.text_field :last_name}
  %p
    = f.submit