<h2>New Contact</h2>

<%= form_for :contact, url: contacts_path do |f| %>

  <p>
    <%= f.label :first_name %>&nbsp;&nbsp;
    <%= f.text_field :first_name %>
  </p>
 
  <p>
    <%= f.label :last_name %>&nbsp;&nbsp;
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= label_tag 'Phone numbers' %>&nbsp;&nbsp;
    <ul>
      <li>
        <%= text_field_tag 'phone_number_1' %>
        <%= select_tag 'phone_number_kind_1', options_for_select([['Mobile',1],['Home',2],['Work',3]]) %>
        <%= button_tag(type: 'button', onclick: 'add_phone_number') do
            content_tag(:strong, '+')
          end %>
      </li>
    </ul>
  </p>

  <p>
    <%= label_tag 'Email addresses' %>&nbsp;&nbsp;
    <ul>
      <li>
        <%= text_field_tag 'email_address_1', '', size: 50 %>
        <%= button_tag(type: 'button', onclick: 'add_email_address') do
            content_tag(:strong, '+')
          end %>
      </li>
    </ul>
  </p>

  <p>
    <%= label_tag 'Street addresses' %>&nbsp;&nbsp;
    <ul>
      <li>
        <%= text_field_tag 'street_address_1', '', size: 50 %>
        <%= button_tag(type: 'button', onclick: 'add_street_address') do
            content_tag(:strong, '+')
          end %>
      </li>
    </ul>
  </p>

  <p>
    <%= f.submit %>
  </p>

  <p>
    <%= link_to "Back to Contact List", contacts_path %>
  </p>

<% end %>
